/* app css stylesheet */

body {
  padding-top:15px;
}


.cropArea {
     background: #E4E4E4;
     overflow: hidden;
/*      width:500px; */
     height:350px;
}  

.upload-files{
  margin:15px;   
}

.upload-status{
  
  height:60px;
  
}

.col-centered{
    float: none;
    margin: 0 auto;
}
