 
<!DOCTYPE HTML>
<html ng-app="inApp">
<head>
     <title>insider app</title>
     <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
     <link rel="stylesheet" href="css/app.css">
     <link rel="stylesheet" href="css/ng-img-crop.css">
     <script src="js/lib/jquery/jquery-2.0.3.min.js"></script>
     <script src="js/lib/angular/angular.js"></script>
     <script src="js/lib/angular/angular-route.js"></script>
     <script src="js/lib/ngCrop/init.js"></script>
     <script src="js/lib/ngCrop/ng-img-crop.js"></script>
     <script src="js/lib/ngCrop/classes/crop-area-circle.js"></script>
     <script src="js/lib/ngCrop/classes/crop-area-square.js"></script>
     <script src="js/lib/ngCrop/classes/crop-area.js"></script>
     <script src="js/lib/ngCrop/classes/crop-canvas.js"></script>
     <script src="js/lib/ngCrop/classes/crop-exif.js"></script>
     <script src="js/lib/ngCrop/classes/crop-host.js"></script>
     <script src="js/lib/ngCrop/classes/crop-pubsub.js"></script>
<!--      <script src="js/lib/fileUpload/angular-file-upload.shim.min.js"></script> -->
     <script src="js/lib/fileUpload/angular-file-upload.min.js"></script>
     
    
    
     <script src="js/app.js"></script>
     <script src="js/services.js"></script>
     <script src="js/controllers.js"></script>
     <script src="js/filters.js"></script>
     <script src="js/directives.js"></script>
     <script src="bootstrap/js/bootstrap.min.js"></script>
 </head>
   
<body>
     
  <div class="container-fluid">   

  <div ng-controller="myCtrl">     
       <div class="row-fluid">
            <div class="col-md-5">
                 <div class="form-group">
                   <label class="h4" for="fileInput">Browse Image</label>
                   <input class="btn btn-default" type="file" id="fileInput" />
                 </div>               
       
            </div>
            <div class="col-md-3">
                  <button class="btn btn-default upload-files" ng-click="upload_image()">Upload</button>      
            </div>
            <div class="col-md-4 ">
                 <span class="h5 ">
                     Status:
                 </span>
                 <span class="h5 btn btn-info upload-files">
                      {{image_upload_status}}
                 </span>
            </div>
      </div>
       
      <div class="clearfix "></div>
 
       <div class="row">
            <div class="col-md-5">
                 
                 <div class="cropArea">
                   <img-crop image="myImage" result-image="myCroppedImage" result-image-w="755" result-image-h="450" area-type="square" result-image-size="755" image-index="1"></img-crop>
                   <img-crop image="myImage" result-image="myCroppedImage1" result-image-w="365" result-image-h="450" area-type="square" result-image-size="450" image-index="2" area-size="AreaSize"></img-crop>    
                   <img-crop image="myImage" result-image="myCroppedImage2" result-image-w="365" result-image-h="212" area-type="square" result-image-size="365" image-index="3" area-size="AreaSize"></img-crop>        
                   <img-crop image="myImage" result-image="myCroppedImage3" result-image-w="380" result-image-h="380" area-type="square" result-image-size="365" image-index="4" area-size="AreaSize"></img-crop>           
                 </div>
            </div>
            <div class="col-md-7">
                 <div ng-class="previewImage"><img ng-src="{{ imageArray[1] }}" /></div>     
                
            </div>     
       </div>
       
    <div class="clearfix "></div>
       
       <div class="row">
            <div class="col-md-4 ">
                 <div ng-class="previewImage"><img ng-src="{{ imageArray[2] }}" /></div>     
                 
            </div>
            <div class="col-md-4 ">
                 <div ng-class="previewImage"><img ng-src="{{ imageArray[3] }}" /></div>     
                 
           </div>
            <div class="col-md-4 ">
                 <div ng-class="previewImage"><img ng-src="{{ imageArray[4] }}" /></div>     
                 
            </div>
       </div>
       
       
       
  </div>   
 </div>      
</body>
     
</html>
     